*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* background-size: cover; */
       background-image: linear-gradient(to bottom, #3150ff 0%, #ffffff 50%, #2007fc 100%);

    color: white;
    min-height: 100vh;
    position: relative;
    height: 100vh;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    z-index: -1;
    background-image: url("https://icorp.com.mx/wp-content/uploads/2020/01/%C2%BFCual-es-la-diferencia-entre-TI-y-TICs-copia.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.1);
}

nav{
    background-image: linear-gradient(to bottom, #0486ff 0%, #ffffff 50%, #2007fc 100%);

}

.nav-bar .nav-div{
    margin: 0px 10px 0px 10px;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.nav-bar li{
    padding: 14px 30px;
    cursor: pointer;
    margin-left: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    font-size: 22px;
}

.nav-bar li a{
    text-decoration: none;
    color: #333;
    line-height: 50px;
}

.item-centralizado{
    position: absolute;
    left: 31%;

}

.item-centralizado img{
    width: 150px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.3 ease;
}

.imgtno{
    height: auto;
}


nav .options-list:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.2);
    box-shadow: 0 0 50px;
    border-radius: 20px;
    background-clip: text;
}

.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-right:300px;
    padding-left: 100px;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #a0a0a0 50%, #f0f0f0 100%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 60, 255, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.8);
}

article h2{
    margin-top: 25px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

article p{
    padding: 8rem;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 8px;
    padding-bottom: 8PX;
}



.section-table{
    margin: 8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

table{
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(32, 32, 146);
}

thead tr{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid rgb(255, 255, 255);
}

thead td{
    border: 3px solid rgb(255, 255, 255);
}

tbody td{
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
}

figure{
margin: 0;
}

video{
width: 100%; 
height: auto;
margin-top: 25px;
}

figcaption{
    font-size: 12px;
}

.formulario{
    background-image: linear-gradient(to bottom, #3150ff 0%, #ffffff 50%, #2007fc 100%);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "izquierda derecha";
    height: 90vh;
    gap: 20px;
}

.titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.cont-form-izquierda{
    grid-area: izquierda;
    padding: 20px;
}

.cont-form-derecha{
    grid-area: derecha;
    padding: 20px;
}

.formulario h2{
    font-family: Playfair;
    font-size: 60px;
    background-image: linear-gradient(to top, #000000 0%, #3639ff 50%, #0468ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    gap: 10px;
    color: #030303;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#name{
    width: 500px;
    height: 50px;
    border-radius: 5px;
}

#email{
    width: 500px;
    height: 50px;
    border-radius: 5px;
}

#comment{
    width: 500px;
    height:150px;
    border-radius: 5px;  
}


form .boton-env{
    width: 200px;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-image: linear-gradient(to right, #002fff 0%, #1e1f74 50%);
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}  

.boton-env:hover{
    background-color: #0486ff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



footer{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.section-contact{
    background-color: #fff;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
    color: #000000;
}

.contact-resources{
    list-style-type: none;
    padding: 20px;
}

.contact-resources li{
    padding: 20px;
    color: #000000;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgs-footer{
    width: 50px;
    max-width: 100%;
    height: auto;
}

.img-footer{
    display: flex;
    flex-direction: column;
    width:120px;
    max-width: 100%;
    height: auto;
}

.section-copyright{
    height: 15%;
    background-color: black;
    color: #fff;
    min-height: 60px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}