*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fuente-principal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* background-size: cover; */
       background-image: linear-gradient(to bottom, #3150ff 0%, #ffffff 50%, #2007fc 100%);

    color: white;
    min-height: 100vh;
    position: relative;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
     background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://icorp.com.mx/wp-content/uploads/2020/01/%C2%BFCual-es-la-diferencia-entre-TI-y-TICs-copia.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(5px); */
    z-index: -1;
}

.nav-bar{
    background-image: linear-gradient(to bottom, #0623a0 0%, #ffffff 50%, #1b0e97 100%);

}

.nav-bar .u-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    max-height: 90px;
    height: 10%;
}

.nav-bar li{
    padding: 12px 30px;
    cursor: pointer;
    /* margin-left: 25px; */
    font-family: var(--fuente-principal);
    color: #ffffff;
    font-size: 1.4rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
  }
  
  .hamburger span {
    width: 50px;
    height: 3px;
    background: white;
  }

.options{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.nav-bar li a{
    text-decoration: none;
    color: #333;
    line-height: 50px;
}

.item-centralizado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.item-centralizado img{
    display: flex;
    justify-content: center;
    width: 130px;
    /* padding-right: 20px; */
    height: auto;
   
}

.imgtno:hover{
    transform: rotate(360deg);
    transition: transform .5s ease;
}

nav .options-list:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
    box-shadow: 0 0 20px;
    border-radius: 20px;
    background-clip: text;
}

.icon-menu{
    width: 1.3rem;
    height: auto;
}

/* .icon-menu .options-list{
    display: flex;
    justify-content: center;
    
} */

.title{
    display: flex;   
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    /* margin-left: 20px; */
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 60, 255, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.8);
}

.article-vid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "izquierda derecha" ;
}

#Descripcion{
    grid-area: derecha;
}

.article__title{
    margin-top: 50px;
    font-size: 1.5rem;
    font-family: var(--fuente-principal);
    text-align: center;
}

.article__content{
    font-size: 1.2rem;
    font-family: var(--fuente-principal);
    padding-top: 8px;
    padding-bottom: 8PX;
}

figure{
    margin: 0;
    margin-left: 130px;
}

video{
    width: 90%;
    height: auto;
    margin-top: 25px;
}

figcaption{
    font-size: 12px;
}

/* .section-table{
    margin: 8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

table{
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(32, 32, 146);
}

thead tr{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid rgb(255, 255, 255);
}

thead td{
    border: 3px solid rgb(255, 255, 255);
}

tbody td{
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
} */
.tareas{
    margin: 0;
    padding: 0;
    height: auto;
}

.tareas .title-tasks{
    padding-top: 25px;
    text-align: center;
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
    
}

.list-tasks{
    margin-top: 15px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "izquierda derecha";
    font-family: var(--fuente-principal);
    font-size: 1rem;

}

#left-list{
    place-items: center;
    grid-area: izquierda;
}

#left-list li{
    padding: 7px;
}

#right-list{
    place-items: center;
    text-align: justify;
    grid-area: derecha;
}

#right-list li{
    padding: 7px;
}

.area-btn-tareas{
    text-align: center;
    padding-bottom: 30px;
    
}

.tareas-btn{
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to top left, #1250fa 0%, #070f61 50%, #303eff 100%);
    color:white;
    width: 150px;
    height: 50px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tareas-btn:hover{
    /* background-color: #ffffff; */
    transform: scale(1.02);
    box-shadow: 3px 3px 12px 2px rgb(236, 236, 236);
}

.area-btn-tareas img{
    color: white;
    filter: hue-rotate(120deg);
}

.valores{
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-family: var(--fuente-principal);
    margin-bottom: 20px;
}

.valores__title{
    font-family: var(--fuente-principal);
    font-size: 22px;
    padding: 30px;
}

.valores__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.valores__list li{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    margin: 10px;
    padding: 35px;
    background-image: linear-gradient(to left, #6a86ff 0%, #0015fc 50%, #30a2ff 100%);
    box-shadow: -6px 0 0 0 rgb(255, 255, 255);
    transition: transform 0.3s ease;
    border: none;
    border-radius: 5px;
    padding-bottom: 20px;
    width: 70vw;

}

.valores__list li:hover{
    transform: translateX(20px)
}

.formulario{
    background-image: linear-gradient(to bottom, #193aa5 0%, #ffffff 50%, #1b0e97 100%);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "izquierda derecha";
    height: 650px;
    max-height: 100vh;
    gap: 20px;
}

.titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.cont-form-izquierda{
    grid-area: izquierda;
    padding: 20px;
}

.cont-form-derecha{
    grid-area: derecha;
    padding: 20px;
}

.formulario h2{
    font-family: Playfair;
    font-size: 60px;
    background-image: linear-gradient(to top, #1450aa 0%, #ffffff 50%, #020202 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #030303;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#name{
    border: none;
    width: 37vw;
    height: 50px;
    border-radius: 5px;
}

#email{
    border: none;
    width: 37vw;
    height: 50px;
    border-radius: 5px;
}

#comment{
    font-size: 1rem;
    border: none;
    width: 37vw;
    height:150px;
    border-radius: 5px;  
}


form .boton-env{
    width: 20vw;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-image: linear-gradient(to bottom, #ebe8e8 0%, #191df8 50%);
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}  

.boton-env:hover{
    background-color: #0486ff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-resources li{
    align-items: center;
    padding: 20px;
    color: #000000;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-icons{
    width: 25px;
    max-width: 100%;
    height: auto;
}

.section-contact{
    background-color: #fff;
    height: 85%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 6.5vw;
    color: #000000;
}

.section-contact li{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-resources{
    list-style-type: none;
}



footer{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.imgs-footer{
    width: 8rem;
    max-width: 50%;
    max-height: 100%;
    height: auto;
}

.img-footer{
    display: flex;
    flex-direction: column;
    width: 13rem;
    max-width: 60%;
    height: auto;
    max-height: 100%;
}

.img-footer-logo{
    display: flex;
    align-items: center;
    text-align: center;
}



.section-copyright{
    height: 15%;
    background-color: black;
    color: #fff;
    min-height: 60px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* ----------------------------------------------------------Seccion-Tareas--------------------------------------------------------*/

.task_h1{
    font-family: var(--fuente-principal);
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    height: auto;
}

.task_ni{
    margin: 3.5rem;
    height: auto;
    margin-top: 2rem;
    background-image: linear-gradient(to left, #6a86ff 0%, #0015fcb0 50%, #30a2ff 100%);
    box-shadow: 2px 5px 1px 2px rgb(255, 255, 255);
    border-radius: 2rem;
    transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.task_nm{
    margin: 3.5rem;
    height: auto;
    background-image: linear-gradient(to left, #1ef5b4 0%, #00fc71ad 50%, #0dd850 100%);
    box-shadow: 2px 5px 1px 2px rgb(255, 255, 255);
    border-radius: 2rem;
    transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease; 
}

.task_ni:hover{
  transform: translateY(-6px) scale(1.01);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.task_nm:hover{
    transform: translateY(-6px) scale(1.01);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  }

.task_ni_link{
    display: block;
    text-decoration: none;
    color: inherit;
    
}

.task_ni_title{
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

.task_ni_content{
    padding: 1rem;
    color: #000000;
    padding-top: 0.5rem;
    font-family: var(--fuente-principal);
    font-size: 1.2rem;
    cursor: pointer;
}

.task_notep{
    font-size: 1.2rem;
    margin: 1rem 3.5rem;
    font-family: Arial, Helvetica, sans-serif;

}
/* .task_ni_button{
    display: inline-block;
    background-image: linear-gradient(to top left, #1250fa 0%, #070f61 50%, #303eff 100%);
    color:white;
    width: 150px;
    height: 50px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* Diseño para tablet  */
@media (max-width: 1024px){

    

    .u-list .title{
        display: flex;
        align-items: start;
    }

    .title{
        font-size: 1rem;
    }

    .item-centralizado img{
        width: 15vh;
        height: auto;
    }

    .nav-bar .u-list{
        height: 12vh;
        display: flex;
        align-items: center;
        /* width: auto; */
    }

    .nav-bar li{
        padding: 2px 18px;
        cursor: pointer;
        margin: 0;
        font-size: 1.2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .options{
        padding: 0;
    }

    figure{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-left: 20px;
    }
    
    .area-btn-tareas{
        padding-top: 20px;
    }



}

/* Diseño para tablet pequeña */

@media (max-width: 768px){

    .u-list .title{
        display: flex;
        align-items: start;
    }

    .title{
        font-size: 1.5rem;
    }

    .item-centralizado img{
        margin-right: 8rem;
        width: 15vh;
        height: auto;
    }

    .nav-bar{
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease;
        z-index: 1000;
    }
    
    .nav-bar .u-list{
        flex-direction: row;
        text-align: center;
        padding: 20px 3rem;
    }

    .options{
            position: absolute;
            top: 90px;
            right: 0;
            background: #0623a0;
            flex-direction: column;
            align-items: center;
            display: none;
            padding: 20px 0;
        }

    .options.active{
        width: 50%;
        height: 100%;
        display: flex;
        top: 4.78rem;
        background-image: linear-gradient(to bottom, #0623a0 0%, #7972dd 50%, #e0dfe9 100%);
        gap: 3rem;
        padding-top: 5rem;
        z-index: 2000;
    }

    .options-list{
    
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .nav-bar li a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.6rem;
    }

    .nav-bar .options-list:hover{
        box-shadow: none;
        width: 80%;
        transform: scale(1.5);
        font-size: 2rem;
    }

    .hamburger{
        color: #000000;
        display: block;
        position: static; 
        font-size: 40px;
        background: none;
        border: none;
        cursor: pointer; 
    }

    .nav-bar.active{
        transform: translateY(0);
    }

    /* .nav-bar li{
        padding: 2px 18px;
        cursor: pointer;
        margin: 0;
        font-size: 1.2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } */

    figure{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-left: 20px;
    }
    
    .area-btn-tareas{
        padding-top: 20px;
    }

    .imgs-footer{
        width: 8rem;
    }

    form .boton-env{
        font-size: .9rem;
    }

    .section-copyright{
        text-align: center;
    }

    .task_notep{
        margin: 10px 60px;
        font-size: .8rem;
    }

    .task_ni_title{
        font-size: 1.2rem;
        height: 40px;
    }

    .task_ni_content{
        font-size: 1rem;
        text-align: justify;
    }



/* 
    .article-vid{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #Descripcion{
        grid-area: arriba;
    } */

}

/* Diseño para celular */
@media(max-width:480px){

    .u-list .title{
        font-size: 1rem;
    }

    
    .item-centralizado img {
        margin-right: 2rem;
        width: 15vh;
        height: auto;
    }

    .nav-bar .options-list:hover{
        transform: scale(1.1);
    }

    .nav-bar li a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.1rem;
    }

}

/* Diseño para celular pequeño */
@media(max-width: 390px){

}