*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* background-size: cover; */
    background-color: #165885;
    color: white;
    min-height: 100vh;
    position: relative;
    height: 100vh;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    z-index: -1;
    background-image: url("https://icorp.com.mx/wp-content/uploads/2020/01/%C2%BFCual-es-la-diferencia-entre-TI-y-TICs-copia.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.1);
}
.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #90b1c5;
    overflow: hidden;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar li{
    padding: 14px 30px;
    color: #fff;
    cursor: pointer;
    margin-left: 25px;
}

.nav-bar li a{
    text-decoration: none;
    color: #333;
    line-height: 50px;
}

.item-centralizado{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.item-centralizado img{
    width: 120px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.3 ease;
}

.imgtno{
    height: auto;
}


nav .options-list:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.2);
    box-shadow: 0 0 50px;
}

article h2{
    margin-top: 25px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-right:300px;
}



article p{
    padding: 8rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    padding-bottom: 8PX;
}



.section-table{
    margin: 8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

table{
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(32, 32, 146);
}

thead tr{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid rgb(255, 255, 255);
}

thead td{
    border: 3px solid rgb(255, 255, 255);
}

tbody td{
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
}

figure{
margin: 0;
}

video{
width: 100%; 
height: auto;
margin-top: 25px;
}

figcaption{
    font-size: 12px;
}

.formulario{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.formulario h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form .boton-env{
    margin-left: 50px;
    width: 200px;
    height: 30px;
}  

form .area-comment{
    margin-left: 18px;
}

footer{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.section-contact{
    margin-top: 25px;
    background-color: #fff;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact img{
    width:100px;
    max-width: 100%;
    height: 100px;
}

.section-copyright{
    height: 15%;
    background-color: black;
    color: #fff;
    min-height: 60px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}