*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* background-size: cover; */
       background-image: linear-gradient(to bottom, #3150ff 0%, #ffffff 50%, #2007fc 100%);

    color: white;
    min-height: 100vh;
    position: relative;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
     background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://icorp.com.mx/wp-content/uploads/2020/01/%C2%BFCual-es-la-diferencia-entre-TI-y-TICs-copia.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(5px); */
    z-index: -1;
}

nav{
    background-image: linear-gradient(to bottom, #0623a0 0%, #ffffff 50%, #1b0e97 100%);

}

.nav-bar .nav-div{
    margin: 0px 10px 0px 10px;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.nav-bar li{
    padding: 14px 30px;
    cursor: pointer;
    margin-left: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 22px;
}

.nav-bar li a{
    text-decoration: none;
    color: #333;
    line-height: 50px;
}

.item-centralizado{
    position: absolute;
    left: 31%;

}

.item-centralizado img{
    width: 150px;
    padding-right: 20px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.3 ease;
}

.imgtno{
    height: auto;
}


nav .options-list:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.2);
    box-shadow: 0 0 50px;
    border-radius: 20px;
    background-clip: text;
}

.nav-div .title{
    margin-right: 200px;
    padding-left: 40px;
}

.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #a0a0a0 50%, #f0f0f0 100%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 60, 255, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.8);
}
.article-vid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "izquierda derecha" ;
}

#Descripcion{
    grid-area: derecha;
}

article h2{
    margin-top: 50px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

article p{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 8px;
    padding-bottom: 8PX;
}

figure{
    margin: 0;
    margin-left: 130px;
}

video{
    width: 90%;
    height: auto;
    margin-top: 25px;
}

figcaption{
    font-size: 12px;
}

/* .section-table{
    margin: 8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

table{
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(32, 32, 146);
}

thead tr{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid rgb(255, 255, 255);
}

thead td{
    border: 3px solid rgb(255, 255, 255);
}

tbody td{
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
} */
.tareas{
    margin: 0;
    padding: 0;
    height: auto;
}

.tareas .title-tasks{
    padding-top: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    
}

.list-tasks{
    margin-top: 15px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "izquierda derecha";
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;

}

#left-list{
    place-items: center;
    grid-area: izquierda;
}

#left-list li{
    padding: 7px;
}

#right-list{
    place-items: center;
    text-align: justify;
    grid-area: derecha;
}

#right-list li{
    padding: 7px;
}

.area-btn-tareas{
    text-align: center;
    padding-bottom: 30px;
    
}

.tareas-btn{
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to top, #123cfa 0%, #000000 50%, #303eff 100%);
    color:white;
    width: 150px;
    height: 50px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.area-btn-tareas img{
    color: white;
    filter: hue-rotate(120deg);
}

.formulario{
    background-image: linear-gradient(to bottom, #193aa5 0%, #bcc1d1 50%, #1b0e97 100%);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "izquierda derecha";
    height: 650px;
    max-height: 100vh;
    gap: 20px;
}

.titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.cont-form-izquierda{
    grid-area: izquierda;
    padding: 20px;
}

.cont-form-derecha{
    grid-area: derecha;
    padding: 20px;
}

.formulario h2{
    font-family: Playfair;
    font-size: 60px;
    background-image: linear-gradient(to top, #000000 0%, #fafaff 50%, #020202 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    gap: 10px;
    color: #030303;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#name{
    width: 500px;
    height: 50px;
    border-radius: 5px;
}

#email{
    width: 500px;
    height: 50px;
    border-radius: 5px;
}

#comment{
    width: 500px;
    height:150px;
    border-radius: 5px;  
}


form .boton-env{
    width: 200px;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-image: linear-gradient(to bottom, #f3f3f3 0%, #292bad 50%);
    cursor: pointer;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.boton-env:hover{
    background-color: #0486ff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-contact{
    background-color: #fff;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
    color: #000000;
}

.contact-resources{
    list-style-type: none;
}

.contact-resources li{
    padding: 20px;
    color: #000000;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-icons{
    width: 25px;
    max-width: 100%;
    height: auto;
}

footer{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.imgs-footer{
    width: 50px;
    max-width: 100%;
    height: auto;
}

.img-footer{
    display: flex;
    flex-direction: column;
    width:120px;
    max-width: 100%;
    height: auto;
}

.section-copyright{
    height: 15%;
    background-color: black;
    color: #fff;
    min-height: 60px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}